.revolution-section {
    padding: var(--p70) 0;
    position: relative;
    overflow: hidden;

    .revolution-inner {
        display: grid;
        width: 100%;
        gap: var(--gutter);
    }

    .img-stroke4 {
        transform: rotate(-30deg);
        bottom: -540px;
        right: -30px;
        z-index: -1;

        @media (max-width: 1200px) {
            bottom: -580px;
            right: -100px;
            max-width: 300px;
        }

        @media (max-width: 991px) {
            bottom: -600px;
            right: -100px;
            max-width: 350px;
        }

        @media (max-width:767px) {
            bottom: 188px;
            left: 388px;
            max-width: 188px;
            transform: rotate(-90deg) translateX(-50%) translateY(50%);
            transform-origin: bottom right;
        }
    }

    .img-stroke5 {
        top: 48px;
        left: 40px;
        width: 320px;
        height: 80px;
        pointer-events: none;

        @media (max-width: 1200px) {
            top: 42px;
            width: 240px;
            height: 40px;
        }
    }

    .content-dv {
        position: relative;
    }

    .desc-dv {
        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .more-text {
        margin-bottom: 20px;
    }

    @media (max-width:767px) {
        padding-bottom: 100px;
    }
}

@media (min-width:1200px) {
    .no-apply-desktop-more {
        .more-text {
            display: block;
        } 

        .read-more {
            display: none;
        }
    }
}

.why-choose-section {
    .core-values {
        .content-dv {
            .img-stroke7 {
                right: 0;
                width: 210px;
                left: auto;

                @media (min-width:1200px) and (max-width:1700px) {
                    right: -34px;
                    top: 35px;
                }

                @media (max-width: 1200px) {
                    right: -90px;
                    height: 70px;
                    top: 60px;
                    left: 40px;
                    width: 140px;
                }

                @media (max-width:991px) {
                    right: auto;
                    left: 248px;
                    height: 60px;
                    top: 2px;
                    transform: rotate(6deg);
                    width: 100px;
                }
            }
        }

        .stories-card {
            h3 {
                font-weight: 700;
            }
        }
    }

    

    @media (min-width:1200px) and (max-width:1700px) {
        .stories-inner {
            grid-template-columns: calc(38% - var(--gutter) / 2) calc(62% - var(--gutter) / 2);
        }
    }

    @media (min-width:1200px) and (max-width:1350px) {
        .core-values {
            .content-dv {
                max-width: 385px;

                .img-stroke7 {
                    right: auto;
                    top: 85px;
                    left: 55px;
                }

            }
        }
    }

    @media (max-width: 1200px) {
        .core-values {
            .content-dv {
                max-width: 260px;
            }
        }
    }

    @media (max-width: 767px) {
        .core-values {
            .content-dv {
                max-width: 100%;
            }
        }

        .stories-inner {
            .btn-dv {
                margin-top: 20px;
            }

            .content-dv {
                h2 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.culture-section {
    position: relative;
    padding: var(--p70) 0;
    overflow: hidden;

    .culture-inner {
        display: grid;
        row-gap: 30px;
        position: relative;
    }

    .content-dv {
        position: relative;

        @media (max-width:400px) {
            --heading2: 22px;
        }

        .img-stroke6 {
            top: auto;
            bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            height: auto;
            left: 340px;
            width: 400px;

            @media (max-width:1200px) {
                bottom: 0;
                left: 110px;
                width: 400px;
            }

            @media (max-width:767px) {
                bottom: 42px;
                left: -10px;
                width: 300px;
            }
        }
    }

    @media (max-width:1200px) {
        --p35: 20px
    }
}

.primary-grey-card {
    position: relative;
    padding: var(--p35);
    border-radius: 30px;
    background: var(--mx-grey);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 270px;
    overflow: hidden;

    &.icon-text-card {
        .img-dv {
            height: 100px;
            width: 100%;

            img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }

            @media (max-width: 1200px) {
                height: 70px;
            }

            @media (max-width: 767px) {
                height: 100px;
            }
        }
    }

    @media (max-width:1200px) {
        border-radius: 20px;
    }
}

.career-root {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: var(--gutter);

    .primary-user-card {
        height: 270px;
        overflow: hidden;
    }

    .img-dv {
        pointer-events: none;
    }

    .text-dv {
        display: grid;
        row-gap: 10px;
        position: relative;
        z-index: 1;
    }

    .item1 {
        grid-column: span 3;

        @media (min-width:768px) and (max-width:991px) {
            grid-column: span 8;
        }
    }

    .item2 {
        grid-column: span 5;
        gap: var(--gutter);

        .text-dv {
            flex: 1;
            max-width: 66%;
            display: grid;
            row-gap: var(--gutter);

            @media (max-width:1200px) {
                max-width: calc(100% - 250px) !important;
            }

            @media (max-width:767px) {
                max-width: 100% !important;
            }
        }

        .img-dv {
            position: absolute;
            height: calc(100% + 30px);
            top: -30px;
            right: 15px;
            pointer-events: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @media (max-width:1200px) {
                max-width: 270px;
                top: 10px;
            }

            @media (max-width:767px) {
                height: auto;
                top: auto;
                bottom: 0;
                width: calc(100% + 10px);
                max-width: 370px;
                display: flex;
                max-height: 300px;
            }
        }

        @media (min-width:768px) and (max-width:991px) {
            grid-column: span 8;
        }

        @media (max-width:767px) {
            padding-bottom: 320px;
        }
    }

    .item3 {
        grid-column: span 2;

        @media (min-width:768px) and (max-width:991px) {
            grid-column: span 4;
        }
    }

    .item4 {
        grid-column: span 3;
        min-height: 260px;

        .text-dv {
            max-width: 66%;
        }

        .img-dv {
            position: absolute;
            width: calc(100% + 50px);
            top: 20px;
            right: -12px;
            pointer-events: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @media (max-width:767px) {
                width: calc(100% + 150px);
            }
        }

        @media (min-width:768px) and (max-width:991px) {
            grid-column: span 4;
        }
    }

    .item5 {
        grid-column: span 3;
    }

    .item6 {
        grid-column: span 3;

        .img-dv {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media (max-width: 767px) {
                position: absolute;
                top: -40px;
                left: 0;
                width: 340px;
                height: 100%;
                transform: rotate(52deg);

                &::before {
                    content: "";
                    background-color: #d5f301;
                    width: 200px;
                    height: 200px;
                    display: flex;
                    position: absolute;
                    top: 100px;
                    left: -130px;
                    pointer-events: none;
                }
            }
        }

        .text-dv {
            height: 100%;
            grid-template-columns: 1fr 1fr;
            gap: 33%;

            .text-col-dv:nth-child(2) {
                margin-top: auto;
                max-width: 168px;
                margin-left: auto;
            }

            @media (max-width: 1200px) {
                gap: 28%;
            }

            @media (max-width:767px) {
                gap: 150px 0;
                grid-template-columns: 1fr;

                .text-col-dv {
                    max-width: 200px;
                }
            }
        }

        @media (max-width: 1200px) {
            grid-column: span 4;
        }

        @media (min-width:768px) and (max-width:991px) {
            grid-column: span 5;
        }
    }

    .item7 {
        grid-column: span 3;

        .text-dv {
            max-width: 66%;

            @media (max-width: 1200px) {
                max-width: 100%;
            }
        }

        @media (max-width: 1200px) {
            grid-column: span 2;
        }

        @media (min-width:768px) and (max-width:991px) {
            grid-column: span 4;
        }
    }

    .item8 {
        grid-column: span 2;

        @media (min-width:768px) and (max-width:991px) {
            grid-column: span 4;
        }
    }

    @media (max-width:991px) {
        --heading1: 36px;
        --headingLH1: 48px;

        >*,
        >[class*="item"] {
            height: auto;
            border-radius: 20px;

            .text-dv {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-gap: 15px 0;

        >*,
        >[class*="item"] {
            grid-column: none;
            height: auto;
            border-radius: 20px;

            .text-dv {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.workplace-section {
    position: relative;
    padding: var(--p70) 0;
    overflow: hidden;

    .workplace-inner {
        display: grid;
        row-gap: 30px;
        position: relative;

        @media screen and (max-width: 767px) {
            grid-template-columns: 100%;
        }

        .content-dv {
            position: relative;

            .img-stroke6 {
                width: 270px;
                height: 80px;
                top: -30px;
                left: 310px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                @media (max-width: 1200px) {
                    width: 140px;
                    height: 60px;
                    top: -20px;
                    left: 240px;
                }

                @media (max-width: 767px) {
                    width: 170px;
                    height: 80px;
                    top: -10px;
                    left: 180px;
                }
            }
        }
    }
}

.workplace-root {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto;
    gap: var(--gutter);
    position: relative;

    .item1 {
        grid-column: span 5;
    }

    .item2 {
        grid-column: span 3;
    }

    .item3 {
        grid-column: span 3;
    }

    .item4 {
        grid-column: span 5;
    }
}

.career-benefits-section {
    background-color: var(--white);

    .stories-inner {
        grid-template-columns: calc(25% - var(--gutter) / 2) calc(75% - var(--gutter) / 2);

        .img-stroke4 {
            right: auto;
            left: -150px;
            bottom: -300px;
            width: 500px !important;
            height: 500px;

            @media (max-width: 1200px) {
                left: -90px;
                bottom: -180px;
                width: 300px !important;
                height: 300px;
            }

            @media (max-width: 767px) {
                width: 188px !important;
                height: 188px;
                left: -30px;
                bottom: -120px;
                transform: rotate(0deg);
            }
        }

        .img-stroke8 {
            width: 100px;
            height: 100px;
            left: 175px;
            top: 122px;
            z-index: 0;

            @media (max-width: 1200px) {
                width: 70px;
                height: 70px;
                left: 116px;
                top: 85px;
            }

            @media (max-width:767px) {
                width: 60px;
                height: 60px;
                left: 286px;
                top: 20px;
            }
        }

        .content-dv {
            margin-top: 0;

            @media (max-width:767px) {
                br:nth-child(1) {
                    display: none;
                }
            }
        }

        @media only screen and (max-width:567px) {
            grid-template-columns: 100%;
        }

        @media (min-width: 2000px) {
            grid-template-columns: calc(20% - var(--gutter)/2) calc(80% - var(--gutter)/2);
            width: auto;
        }
    }

    .card-slider-root {
        .swiper {
            padding-top: 0;
        }
    }

    @media (max-width:767px) {
        padding-bottom: 80px;
    }
}

body {
    .open-roles-section {
        overflow: hidden;

        .content-dv {
            margin-bottom: 0;
            padding-bottom: var(--gutter);
            border-bottom: 1px solid var(--white);
        }

        h3.accordion-thumb {
            font-size: var(--heading1);
            line-height: var(--headingLH1);

            @media (max-width: 767px) {
                font-size: var(--heading2);
                line-height: var(--headingLH2);
            }
        }

        @media (max-width:1200px) {
            .img-stroke-new2 {
                width: 200px;
                height: 85px;
                left: 345px;
                top: 33px;
            }
        }
    }
}

.accordion {
    .accordion-panel {
        .open-roles-bd-root {
            padding: 20px 0 0;
            display: grid;
            gap: var(--gutter);
            grid-template-columns: repeat(2, 1fr);

            .open-roles-col {
                &:nth-child(1) {
                    grid-row: span 2;
                }
            }

            h3 {
                margin-bottom: 30px;

                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }
            }

            ul {
                display: grid;
                row-gap: 15px;
                margin-bottom: 30px;

                @media (max-width: 767px) {
                    row-gap: 10px;

                    li::before {
                        top: 12px;
                    }
                }
            }

            @media (max-width: 767px) {
                grid-template-columns: 100%;
            }
        }
    }
}