.privacy-banner {
    background-color: var(--mx-blue);
    padding-top: 160px;
    padding-bottom: 83px;

    @media (max-width: 1199px) {
        padding-top: 110px;
        padding-bottom: 63px;
    }

    @media (max-width: 567px) {
        padding-bottom: 58px;
    }


    .banner-grid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .grid-right {
            width: 525px;
            height: 470px;

            @media (max-width: 1199px) {
                width: 430px;
                height: 410px;
            }

            @media (max-width: 991px) {
                width: 300px;
                height: 300px;
            }

            @media (max-width: 567px) {
                width: 292px;
                height: 278px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .grid-left {
            max-width: 565px;

            @media (max-width: 1199px) {
                max-width: 505px;
            }

            @media (max-width: 567px) {
                max-width: 100%;
                width: 100%;
            }

            h1 {
                color: var(--white);

                @media (max-width: 567px) {
                    margin-bottom: 80px;
                }

                b {
                    color: var(--mx-yellow);
                }
            }

            p {
                color: var(--white);
                font-size: 20px;
                margin-top: 30px;
                line-height: 1.7;

                @media (max-width: 567px) {
                    display: none;
                }

                strong {
                    display: block;
                    font-size: 700;
                }
            }
        }
    }
}

.privacy-content {
    padding-top: 74px;
    position: relative;
    overflow: hidden;

    @media (max-width: 1199px) {
        padding-top: 55px;
    }

    .desktop-hide {
        @media (min-width: 568px) {
            display: none;
        }
    }

    .stroke-image {
        position: absolute;
        right: -32px;
        bottom: -265px;
        width: 600px;
        height: 600px;
        z-index: -1;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 25px;
    }

    p,
    span {
        color: var(--mx-black);
        margin-bottom: 15px;
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    h3 {
        margin-block: 40px 15px;
    }

    h2+h3 {
        margin-top: 15px;
    }

    a {
        display: inline-block;
        color: var(--mx-black);
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            background-color: var(--mx-black);
            bottom: 5px;
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            color: var(--mx-blue);
            transition: all 0.4s ease-in-out;

            &:before {
                background-color: var(--mx-blue);
                transition: all 0.4s ease-in-out;
            }
        }
    }

    ol {
        margin: 20px 0;
        counter-reset: count;

        li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 5px;

            @media (max-width: 567px) {
                padding-left: 15px;
            }

            &:before {
                counter-increment: count;
                content: counter(count) '.';
                position: absolute;
                left: 0;
            }
        }
    }

    .contact-sec {
        @media (max-width: 767px) {
            margin-top: 20px;
        }

        p,
        span {
            color: var(--white);
            margin-bottom: 0;
        }

        a {
            &:before {
                content: none;
            }
        }
    }

    ul {
        margin: 20px 0 20px 20px;
        list-style: disc;

        li {
            padding-bottom: 5px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table,
    th,
    td {
        border: 1px solid #ddd;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
    }
}

.general-content {
    padding: 0;
}