:root {
    --font-family: "Montserrat", sans-serif;

    --white: #fff;
    --black: #000;
    --mx-blue: #074bb6;
    --mx-yellow: #dcf343;
    --mx-black: #212021;
    --mx-grey: #f4f4f4;

    // --heading1: 72px;
    // --headingLH1: 90px;
    // --heading2: 48px;
    // --headingLH2: 59px;
    // --heading3: 36px;
    // --headingLH3: 54px;
    // --headingLH3_2: 47px;
    // --p: 20px;
    // --pLH: 34px;

    --heading1: 50px;
    --headingLH1: 65px;
    --heading2: 36px;
    --headingLH2: 48px;
    --heading3: 24px;
    --headingLH3: 36px;
    --headingLH3_2: 36px;
    --p: 15px;
    --pLH: 24px;

    --fs16: 14px;
    --fs16LH: 21px;

    --gutter: 25px;
    --gutter30: 20px;
    --gutter70: 70px;
    --pl70: 70px;

    --p35: 25px;
    --mt35: 25px;
    --mb35: 25px;
    --p70: 70px;
    --p50: 50px;

    --max-w1920: 1920px;
    --max-w1440: 1440px;
    --max-w1240: 1240px;
    --max-wblue: 1680px;
}

@media (max-width: 1200px) {
    :root {
        --heading1: 48px;
        --headingLH1: 54px;
        --heading2: 24px;
        --headingLH2: 34px;
        --heading3: 20px;
        --headingLH3: 28px;
        --headingLH3_2: 28px;
        --p: 14px;
        --pLH: 24px;

        --gutter: 15px;
        --gutter70: 20px;
        --pl70: 20px;
    }
}

@media (max-width: 1024px) {
    :root {
        --heading1: 42px;
        --headingLH1: 52px;
        --heading2: 24px;
        --headingLH2: 34px;
        --heading3: 20px;
        --headingLH3: 30px;
        --headingLH3_2: 30px;
        --p: 14px;
        --pLH: 24px;

        --gutter70: 20px;
        --pl70: 20px;

        --mb35: 15px;
    }
}

@media (max-width: 991px) {
    :root {
        --p70: 50px;
        --p50: 50px;
    }
}

// Global Styles
*,
::after,
::before {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

html {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-size: var(--p);
    line-height: var(--pLH);
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--black);
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1,
.h1 {
    font-size: var(--heading1);
    line-height: var(--headingLH1);

    strong {
        color: var(--mx-blue);
    }
}

h2,
.h2 {
    font-size: var(--heading2);
    line-height: var(--headingLH2);

    strong {
        color: var(--mx-blue);
    }
}

h3,
.h3 {
    font-size: var(--heading3);
    line-height: var(--headingLH3);

    strong {
        color: var(--mx-blue);
    }
}

h4 {
    font-size: var(--p);
    line-height: var(--pLH);
    font-weight: 700;
}

p {
    font-size: var(--p);
    line-height: var(--pLH);
    font-weight: 400;
}

.fs16 {
    font-size: var(--fs16);
    line-height: var(--fs16LH);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

b,
strong {
    font-weight: 700;
}

.container-fluid {
    width: 100%;
    padding-right: var(--gutter70);
    padding-left: var(--gutter70);
    margin-right: auto;
    margin-left: auto;
    max-width: 1920px;

    // @media (min-width: 2000px) {
    //     max-width: var(--max-w1920);
    // }

    // @media (max-width: 1700px) {
    //     max-width: var(--max-w1440);
    // }

    // @media (max-width: 1550px) {
    //     max-width: var(--max-w1240);
    // }

    @media (max-width: 1200px) {
        max-width: 100%;
    }
}

.btn,
button,
a {
    transition: all 0.3s ease-in-out;
}

.btn {
    color: var(--mx-blue);
    font-size: var(--fs16);
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    border: 1px solid var(--mx-yellow);
    background: var(--mx-yellow);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 40px;
}

// .btn:hover {
//     color: var(--mx-yellow);
//     border: 1px solid var(--mx-yellow);
//     background: var(--mx-blue);
// }

.btn-ico-cst {
    color: var(--mx-yellow);
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--mx-blue);
    background: var(--mx-blue);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    min-width: 53px;
    height: 53px;
    font-weight: 500;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.content-dv {
    h2 {
        margin-bottom: var(--mb35);
    }
}

.desc-global {
    margin-bottom: var(--mb35);
}

.desc-global {
    p {
        margin-bottom: var(--mb35);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.display-desktop {
    display: block !important;

    @media only screen and (max-width: 991px) {
        display: none !important;
    }
}

.display-ipad {
    display: grid !important;

    @media only screen and (max-width: 767px) {
        display: none !important;
    }
}

.display-mobile {
    display: none !important;

    @media only screen and (max-width: 991px) {
        display: block !important;
    }
}

.display-mobile-noipad {
    display: none !important;

    @media only screen and (max-width: 767px) {
        display: block !important;
    }
}

.btn-dv {
    position: relative;
    width: 350px;
    height: 53px;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid var(--mx-yellow);
    border-radius: 30px;

    @media only screen and (max-width: 567px) {
        width: 100%;
    }

    &:hover {
        border-color: var(--mx-blue);

        .btn {
            background: var(--mx-blue);
            -webkit-animation: ani 0.7s steps(29) forwards;
            animation: ani 0.7s steps(29) forwards;
        }
    }

    .btn {
        width: 100%;
        max-width: 100%;
        border: 1px solid var(--mx-blue);
        -webkit-mask: url(../../assets/images/mask.png);
        mask: url(../../assets/images/mask.png);
        // mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
        -webkit-mask-size: 3000% 100%;
        mask-size: 3000% 100%;
        border: none;
        cursor: pointer;
        -webkit-animation: ani2 0.7s steps(29) forwards;
        animation: ani2 0.7s steps(29) forwards;
    }

    .mas {
        color: var(--mx-blue);
        text-align: center;
        width: 100%;
        top: 10px;
        position: absolute;
        overflow: hidden;
        font-size: var(--fs16);
        font-weight: 700;
        line-height: 33px;
    }
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}

input[type="checkbox"]+label {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
    cursor: pointer;
    padding: 0;
    color: #000;
    position: relative;

    @media only screen and (max-width: 991px) {
        gap: 10px;
        line-height: 1.2;
    }

    @media only screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.5;
    }
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label:before {
    content: "";
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
    margin-top: 3px;

    @media only screen and (max-width: 991px) {
        width: 14px;
        height: 14px;
        min-width: 14px;
        border-radius: 2px;
    }

    @media only screen and (max-width: 767px) {
        margin-top: 2px;
    }
}

input[type="checkbox"]+label:after {
    content: "";
    transition: 0.2s;
    position: absolute;
    background: url(../../assets/images/arrow.svg) no-repeat;
    left: 3px;
    top: 3px;
    transform: scale(0);
    transition: 0.2s ease-in-out;
}

input[type="checkbox"]:checked+label:after {
    transform: scale(1);
    width: 26px;
    height: 15px;
    background-size: contain;

    @media only screen and (max-width: 991px) {
        width: 16px;
        height: 17px;
        background-size: contain;
        left: 3px;
    }

    @media only screen and (max-width: 767px) {
        top: 1px;
    }

}

.select2-container {
    width: 100% !important;
}

.select2-container--default {
    .select2-selection {
        border-radius: 50px;
        background: var(--mx-grey);
        border: none;
        padding: 20px 27px;
        color: #a7a9ac;
        font-family: Montserrat;
        font-size: var(--p);
        font-style: normal;
        font-weight: 400;
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
        height: auto;

        @media only screen and (max-width: 991px) {
            border-radius: 25px;
            padding: 15px 12px;
        }

        .select2-selection__arrow {
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            height: 15px;
            background: url(../../assets/images/arrow-down.svg) no-repeat;
            background-size: contain;

            b {
                display: none;
            }
        }
    }

    .select2-selection__rendered {
        width: 100%;
    }

    .select2-dropdown {
        background: var(--mx-grey);
        border: none;
    }

    .select2-search__field {
        border-radius: 20px;
        border: none;
        padding: 10px;
        margin-bottom: 5px;
        border: none;
    }

    .select2-results__option {
        &.select2-results__option--highlighted.select2-results__option--selectable {
            background-color: var(--mx-blue);
        }
    }
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

// down arrow animation

.down-arrow {
    svg {
        .svg-elem-1 {
            fill: transparent;
            -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
        }

        .svg-elem-2 {
            fill: transparent;
            -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
        }

        &.active {
            .svg-elem-1 {
                fill: var(--mx-yellow);
            }

            .svg-elem-2 {
                fill: var(--mx-yellow);
            }
        }
    }
}

// Read More link css

.read-more-btn {
    color: var(--mx-blue);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7;
    position: relative;
    display: inline-block;
    z-index: 1;

    .img-stroke8 {
        width: 140px;
        height: 12px;
        left: -8px;
        top: auto;
        bottom: 2px;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.blue-section,
.inner-banner-section {
    background-color: var(--mx-blue);

    h1,
    h2,
    h3 {
        color: var(--white);
        word-break: break-word;

        b,
        strong {
            color: var(--mx-yellow);
        }
    }

    p {
        color: var(--white);
        word-break: break-word;
    }
}

// contact box swiper css

.contact-detail {
    border-radius: 30px;
    background: var(--mx-blue);
    padding: 45px 50px;
    // max-width: 646px;
    min-height: 550px;
    max-height: 550px;

    @media (max-width: 1700px) {
        padding: 30px 40px;
    }

    @media (max-width: 1499px) {
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 991px) {
        min-height: auto;
        max-height: inherit;
        max-width: inherit;
        margin-left: -25px;
        width: calc(100% + 50px);
        border-radius: 0;
        padding: var(--p50) var(--gutter70);
        margin-top: 20px;
    }

    h3 {
        color: var(--white);
        margin-bottom: var(--gutter);

        b {
            color: var(--mx-yellow);
        }
    }

    .swiper {
        .swiper-slide {
            color: #fff;
            color: var(--white);
            display: grid;
            gap: 20px;

            a {
                color: #fff;
                display: flex;
                align-items: center;
                gap: var(--gutter);

                img {
                    max-width: 50px;
                }

                &:first-child {
                    align-items: flex-start;
                }

                strong {
                    span {
                        display: block;
                    }
                }
            }
        }

        .swiper-pagination {
            position: relative;
            margin-top: 35px;

            .swiper-pagination-bullet {
                border-radius: 10px;
                background: rgba(33, 32, 33, 0.50);
                min-width: 91px;
                height: 7px;
                position: relative;
                overflow: hidden;
                opacity: 1;

                &.swiper-pagination-bullet-active {
                    &::before {
                        content: "";
                        background-color: var(--mx-yellow);
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        animation: fill 5s;
                        border-radius: 10px;
                    }
                }

            }
        }
    }
}

// inner banner
.inner-banner {
    background-color: var(--mx-blue);
    padding-top: 160px;
    padding-bottom: 20px;
    min-height: 100vh;

    @media (max-width: 1199px) {
        padding-top: 110px;
        padding-bottom: 63px;
    }

    @media (max-width: 567px) {
        padding-bottom: 58px;
    }


    .banner-grid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .grid-right {
            width: 715px;
            height: 422px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .grid-left {
            max-width: 565px;

            h1 {
                color: var(--white);

                @media (max-width: 567px) {
                    margin-bottom: 80px;
                }

                b,
                strong {
                    color: var(--mx-yellow);
                }
            }

            p {
                color: var(--white);
                font-size: 20px;
                margin-top: 30px;
                line-height: 1.7;

                @media (max-width: 567px) {
                    display: none;
                }

                strong {
                    display: block;
                    font-size: 700;
                }
            }
        }
    }
}


.inner-banner-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: var(--mx-blue);

    .inner-banner {
        padding-top: 128px;
        width: 100%;
        min-height: calc(100dvh - 100px);
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 767px) {
            padding-top: 140px;
            padding-bottom: 0;
            width: 100%;
            min-height: 600px;
            align-items: flex-start;
        }
    }

    .banner-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 0 80px;
        row-gap: 20px;

        h1,
        h2 {
            width: 100%;
        }

        @media (max-width: 767px) {
            padding-bottom: 242px;
        }
    }

    .banner-img {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 50%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: calc(100% - 128px);
        pointer-events: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom right;
            max-height: 800px;

            @media (max-width: 767px) {
                max-height: 250px;
            }
        }

        @media (max-width: 767px) {
            max-height: 250px;
            width: 75%;
        }
    }

    &.center-align {
        .inner-banner {
            position: relative;
        }

        .banner-img {
            align-items: center;

            img {
                object-position: center center;
                max-height: 500px;

                @media (max-width: 767px) {
                    max-height: 250px;
                }
            }
        }
    }

    &.center-justify-align {
        .inner-banner {
            position: relative;
        }

        .banner-img {
            align-items: center;

            img {
                object-position: center center;
                max-height: 500px;

                @media (max-width: 767px) {
                    max-height: 250px;
                }
            }
        }
    }

    &.center-end-align {
        .banner-img {
            align-items: center;

            img {
                object-position: center right;
                max-height: 500px;

                @media (max-width: 767px) {
                    max-height: 250px;
                }
            }
        }
    }
}

.mt-parent {
    margin-top: 100px;

    @media (max-width: 991px) {
        margin-top: 80px;
    }
}

.swiper-pagination-dots {
    top: auto !important;
    bottom: 30px !important;

    .swiper-pagination-bullet {
        border-radius: 10px;
        background: rgba(33, 32, 33, 0.50);
        min-width: 91px;
        height: 7px;
        position: relative;
        overflow: hidden;
        opacity: 1;
        
        &.swiper-pagination-bullet-active {
            &::before {
                content: "";
                background-color: var(--mx-yellow);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                animation: fill 5s;
                border-radius: 10px;
            }
        }

    }
}