:root {
    --font-family: 'Montserrat', sans-serif;

    --white: #fff;
    --black: #000;
    --mx-blue: #074BB6;
    --mx-yellow: #DCF343;
    --mx-black: #212021;
    --mx-grey: #F4F4F4;

    --heading1: 72px;
    --headingLH1: 90px;
    --heading2: 48px;
    --headingLH2: 59px;
    --heading3: 36px;
    --headingLH3: 54px;
    --headingLH3_2: 47px;
    --p: 20px;
    --pLH: 34px;

    --fs16: 16px;
    --fs16LH: 24px;

    --gutter: 35px;
    --gutter30: 30px;
    --gutter70: 70px;
    --pl70: 70px;

    --p35: 35px;
    --mt35: 35px;
    --mb35: 35px;

    --max-w1920: 1920px;
    --max-w1440: 1440px;
    --max-w1200: 1240px;
}

@media (max-width: 1700px) {
    :root {
        --heading1: 54px;
        --headingLH1: 66px;
        --heading2: 36px;
        --headingLH2: 47px;
        --heading3: 24px;
        --headingLH3: 34px;
        --headingLH3_2: 34px;
        --p: 18px;
        --pLH: 27px;

        --gutter70: 50px;
        --gutter30: 20px;
        --gutter: 25px;

        --pl70: 50px;
        --p35: 25px;
        --mt35: 25px;
        --mb35: 25px;
    }
}
@media (max-width: 1024px) {
    :root {
        --heading1: 48px;
        --headingLH1: 54px;
        --heading2: 24px;
        --headingLH2: 34px;
        --heading3: 24px;
        --headingLH3: 34px;
        --headingLH3_2: 34px;
        --p: 14px;
        --pLH: 24px;

        --gutter70: 20px;
        --pl70: 20px;
    }
}
@media (max-width: 767px) {
    :root {
        --heading1: 48px;
        --headingLH1: 54px;
        --heading2: 24px;
        --headingLH2: 34px;
        --heading3: 24px;
        --headingLH3: 34px;
        --headingLH3_2: 34px;
        --p: 14px;
        --pLH: 24px;

        --gutter70: 20px;
        --pl70: 20px;
    }
}

// Global Styles
*,
::after,
::before {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

html {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-size: var(--p);
    line-height: var(--pLH);
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--black);
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1,
.h1 {
    font-size: var(--heading1);
    line-height: var(--headingLH1);

    strong {
        color: var(--mx-blue);
    }
}

h2,
.h2 {
    font-size: var(--heading2);
    line-height: var(--headingLH2);

    strong {
        color: var(--mx-blue);
    }
}

h3,
.h3 {
    font-size: var(--heading3);
    line-height: var(--headingLH3);

    strong {
        color: var(--mx-blue);
    }
}

h4 {
    font-size: var(--p);
    line-height: var(--pLH);
    font-weight: 700;
}

p {
    font-size: var(--p);
    line-height: var(--pLH);
    font-weight: 400;
}

.fs16 {
    font-size: var(--fs16);
    line-height: var(--fs16LH);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

b,
strong {
    font-weight: 700;
}

.container-fluid {
    width: 100%;
    padding-right: var(--gutter70);
    padding-left: var(--gutter70);
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 2000px) {
        max-width: var(--max-w1920);
    }

    @media (max-width: 1700px) {
        max-width: var(--max-w1440);
    }

    @media (max-width: 1550px) {
        max-width: var(--max-w1240);
    }
}

.btn,
button,
a {
    transition: all 0.3s ease-in-out;
}

.btn {
    color: var(--mx-blue);
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    border: 1px solid var(--mx-yellow);
    background: var(--mx-yellow);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 40px;
}

// .btn:hover {
//     color: var(--mx-yellow);
//     border: 1px solid var(--mx-yellow);
//     background: var(--mx-blue);
// }

.btn-ico-cst {
    color: var(--mx-yellow);
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--mx-blue);
    background: var(--mx-blue);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    min-width: 53px;
    height: 53px;
    font-weight: 500;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.content-dv {
    h2 {
        margin-bottom: var(--mb35);
    }
}

.desc-global {
    margin-bottom: var(--mb35);
}

.btn-dv {
    position: relative;
    width: 420px;
    height: 53px;    
    max-width: 100%;  
    overflow: hidden;   
    border: 1px solid var(--mx-yellow);    
    border-radius: 30px;
     &:hover {
        border-color: var(--mx-blue);
        .btn {
            background: var(--mx-blue);
            -webkit-animation: ani 0.7s steps(29) forwards;
            animation: ani 0.7s steps(29) forwards;
        }
    }
    .btn {
        width: 100%;
        max-width: 100%;                     
        border: 1px solid var(--mx-blue);
        -webkit-mask: url(../../assets/images/mask.png);
        mask: url(../../assets/images/mask.png);
        // mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
        -webkit-mask-size: 3000% 100%;
        mask-size: 3000% 100%;
        border: none;            
        cursor: pointer;
        -webkit-animation: ani2 0.7s steps(29) forwards;
        animation: ani2 0.7s steps(29) forwards;
       
    }
    .mas {
        color: var(--mx-blue);
        text-align: center;
        width: 100%;
        top: 10px;
        position: absolute;
        overflow: hidden;
        font-size: 16px;
        font-weight: 700;
        line-height: 33px;          
    }
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
.mb-0 {
    margin-bottom: 0 !important;
}

input[type=checkbox]+label {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 0;
    cursor: pointer;
    padding: 0;
    color: #000;
    position: relative;
     @media only screen and (max-width: 991px) {
        gap: 10px;
        line-height: 1.2;
     }
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "";
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    min-width: 30px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;

    @media only screen and (max-width: 991px) {
        width: 14px;
        height: 14px;
        min-width: 14px;
        border-radius: 2px;
    }
}

input[type=checkbox]+label:after {
    content: "";
    transition: .2s;
    position: absolute;
    background: url(../../assets/images/arrow.svg) no-repeat;
    left: 5px;
    top: 0;
    transform: scale(0);
    transition: 0.2s ease-in-out;
}

input[type=checkbox]:checked+label:after {
    transform: scale(1);
    width: 36px;
    height: 25px;
     @media only screen and (max-width: 991px) {
        width: 16px;
        height: 17px;
        background-size: contain;
        left: 3px;
     }

}
.select2-container{
    width: 100% !important;
}
.select2-container--default {
    .select2-selection {
        border-radius: 50px;
        background: var(--mx-grey);
        border: none;
        padding: 20px 27px;
        color: #A7A9AC;
        font-family: Montserrat;
        font-size: var(--p);
        font-style: normal;
        font-weight: 400;
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
        height: auto;

        .select2-selection__arrow {
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            height: 15px;
            background: url(../../assets/images/arrow-down.svg) no-repeat;
            background-size: contain;

            b {
                display: none;
            }
        }
    }

    .select2-selection__rendered {
        width: 100%;
    }

    .select2-dropdown {
        background: var(--mx-grey);
        border: none;
    }

    .select2-search__field {
        border-radius: 20px;
        border: none;
        padding: 10px;
        margin-bottom: 5px;
        border: none;
    }

    .select2-results__option {
        &.select2-results__option--highlighted.select2-results__option--selectable {
            background-color: var(--mx-blue);
        }
    }
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

// down arrow animation

.down-arrow {
    svg {
        .svg-elem-1 {
            fill: transparent;
            -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
        }

        .svg-elem-2 {
            fill: transparent;
            -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
        }

        &.active {
            .svg-elem-1 {
                fill: var(--mx-yellow);
            }

            .svg-elem-2 {
                fill: var(--mx-yellow);
            }
        }
    }
}