.contact-sec{
    padding: 70px 0;
     h2{
            span{
                 position: relative;
            }           
            .down-arrow{
                position: absolute;
                top: -80px;
                right: -420px;
            }
        }
    .form{
        display: flex;
        gap: var(--gutter);
        margin-top: 55px;
    }
    .common-form{
        display: grid;
        gap: 35px;
       
        .form-control{
            border-radius: 50px;
            background: var(--mx-grey);
            padding: 26px 37px;
            color: #A7A9AC;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            border: none;
            width: 100%;
        }
        .form-group-inline{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        input[type="submit"]{
            border-radius: 30px;
            background: var(--mx-yellow);
            min-width: 420px;
            max-width: 420px;
            border: none;
            padding: 17px;
            color: var(--mx-blue);
            font-family:var(--font-family);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
        }
    }
    .mandatory{
        color: #000;
        font-family: var(--font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
    .contact-detail{
        border-radius: 30px;
        background: var(--mx-blue);        
        padding: 64px 92px; 
         max-width: 646px;
        min-height: 620px;
        max-height: 620px;
        h3{
            color: var(--white);
            margin-bottom: var(--gutter);
            b{
                color: var(--mx-yellow);
            }
        }    
    }
    .swiper{       
        .swiper-slide{            
            color: #fff;
            color: var(--white);
            display: grid;
            gap: 20px;
            a{
                color: #fff;
                display: flex;
                align-items: center;
                gap: var(--gutter);
                img{
                    max-width: 50px;
                }
                &:first-child{
                    align-items: flex-start;
                }
                strong{
                    span{
                        display: block;
                    }
                }
            }
        }
        .swiper-pagination{
            position: relative;
            margin-top: 35px;
            .swiper-pagination-bullet{
                border-radius: 10px;
                background: rgba(33, 32, 33, 0.50);
                min-width: 91px;
                height: 7px;
                position: relative;
                overflow: hidden;
                opacity: 1;
                &.swiper-pagination-bullet-active{
                    &::before{
                        content: "";
                        background-color: var(--mx-yellow);
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        animation: fill 5s;
                        border-radius: 10px;
                    }
                }
                
            }
        }
    }
     
      

}
@keyframes fill{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

 

     
  