.contact-sec{
    padding: 70px 0;
    .form{
        display: grid;
        grid-template-columns: 1fr 646px;
        gap: 36px;
        margin-top: 55px;
    }
    .common-form{
        display: grid;
        gap: 35px;
        .form-control{
            border-radius: 50px;
            background: #F4F4F4;
            padding: 26px 37px;
            color: #A7A9AC;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            border: none;
            width: 100%;
        }
        .form-group-inline{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        input[type="submit"]{
            border-radius: 30px;
            background: var(--mx-yellow);
            min-width: 420px;
            max-width: 420px;
            border: none;
            padding: 17px;
            color: var(--mx-blue);
            font-family:var(--font-family);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
        }
    }
    .mandatory{
        color: #000;
        font-family: var(--font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
    .swiper{
        .swiper-slide{
            border-radius: 30px;
            background: var(--mx-blue);
            color: #fff;
            padding: 64px 92px;
            color: var(--white);
        }
    }
}