.banner-section {
    position: relative;
    padding-top: 128px;
}

.banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 35px;
    min-height: calc(100dvh - 126px);

    .banner-image {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        flex: 0 0 50%;
        align-items: center;
        height: calc(100dvh - 126px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 800px;
        }
    }

    .banner-content {
        display: grid;
        gap: 30px;
        flex: 0 0 50%;
        max-width: 652px;
        width: 100%;
        padding: 60px 0;

        h1 {
            position: relative;

            .img-stroke1 {
                position: absolute;
                top: 62px;
                right: -10px;
                width: 242px;
                height: 121px;
                pointer-events: none;
                z-index: -1;
                object-fit: contain;
                transform: rotate(-153.591deg);
            }
        }
    }
}

.phygital-section {
    padding: 70px 0;
    background-color: var(--mx-grey);
    position: relative;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.phygital-inner {
    display: grid;
    grid-template-columns: 646px calc(100% - 681px);
    gap: 35px;

    .btn-dv {
        margin-top: 35px;
    }

    .content-dv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.card-lst {
    display: grid;
    gap: 35px;
}

.card {
    padding: 20px 30px;
    background-color: var(--white);
    border-radius: 30px;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: calc(100% - 206px) 150px;
    gap: 56px;

    h4 {
        margin-bottom: 10px;
    }
}

.phygital-right-dv {
    position: sticky;
    top: 70px;
    height: calc(100vh - 138px);
    display: flex;
    align-items: center;
    padding: 0 0 88px;

    .img-stroke2 {
        position: absolute;
        bottom: 0;
        right: -70px;
        z-index: -1;
        overflow: hidden;
    }

    .stroke {
        width: 270px;
        height: 270px;
        animation: rotateInfinitely 10s linear infinite;
    }

    @keyframes rotateInfinitely {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.video-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background: var(--mx-black);
    border-radius: 20px;
    overflow: hidden;

    .btn-video-dv {
        position: absolute;
        top: 50%;
    }

    .video-player {
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
    }
}

.blue-block-section {
    padding: 70px 0;
    background-color: var(--mx-blue);
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .img-dv {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        img {
            object-fit: contain;
        }
    }

    .content-dv {
        width: 100%;

        h2 {
            color: var(--white);
            margin-bottom: 25px;

            b {
                color: var(--mx-yellow);
            }
        }

        p {
            color: var(--white);
        }
    }

    .app-icons-list {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;

        a {
            display: flex;
            flex-wrap: wrap;
        }

        img {
            max-height: 82px;
            object-fit: contain;
        }
    }

    .desc-dv {
        margin-bottom: 35px;
    }

    &.blue-fre-section {
        .content-dv {
            max-width: 862px;
        }
    }

    &.blue-device-section {
        padding: 0;
        margin-top: 0;

        .content-dv {
            padding: 100px 0 50px;
        }

        .desc-dv {
            max-width: 862px;
        }

        .img-dv {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            width: 100%;
            height: calc(100% - 140px);
            position: relative;
            top: -240px;
            margin-bottom: -120px;
        }
    }

    &.blue-gsn-section {
        .img-dv {
            img {
                object-fit: contain;
            }
        }

        .desc-dv {
            max-width: 862px;
        }
    }

    &.blue-apply-section {
        padding: 50px 0;

        .img-dv {
            justify-content: center;
        }
    }
}

.blue-block-inner {
    display: grid;
    align-items: center;
    grid-template-columns: 645px calc(100% - 680px);
    gap: 35px;
}

.for-rc-section {
    padding: 100px 0 120px;
    overflow: hidden;
    position: relative;

    .container-fluid {
        display: grid;
        row-gap: 110px;
    }
}

.for-rc-inner {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: auto auto;
    gap: 35px;
    position: relative;

    &.for-retailers-inner {
        .item1 {
            grid-column: 1;
            grid-row: 1;
        }

        .item2 {
            grid-column: 2 / span 2;
            grid-row: 1;
        }

        .item3 {
            grid-column: 1;
            grid-row: 2;
        }

        .item4 {
            grid-column: 2;
            grid-row: 2;
        }

        .item5 {
            grid-column: 3;
            grid-row: 2;
        }
    }

    &.for-consumers-inner {
        .item1 {
            grid-column: 3;
            grid-row: 1;
        }

        .item2 {
            grid-column: 1 / span 2;
            grid-row: 1;
        }

        .item3 {
            grid-column: 1;
            grid-row: 2;
        }

        .item4 {
            grid-column: 2;
            grid-row: 2;
        }

        .item5 {
            grid-column: 3;
            grid-row: 2;
        }
    }

    .stretch-height {
        top: -289px;
        height: calc(100% + 289px);

        .primary-image-link {
            height: 100%;
        }
    }
}

/* Stroke Animation */

.img-stroke3 {
    position: absolute;
    top: -270px;
    right: -120px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    pointer-events: none;
}

.img-stroke3_2 {
    position: absolute;
    bottom: -530px;
    left: -300px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    transform: rotate(90deg);
    pointer-events: none;
}

.img-stroke3_3 {
    position: absolute;
    bottom: -515px;
    right: -120px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    pointer-events: none;
}

.img-stroke3_4 {
    position: absolute;
    top: -360px;
    right: -85px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    transform: rotate(-28.917deg);
    pointer-events: none;
}

.img-stroke4 {
    position: absolute;
    right: -125px;
    bottom: -300px;
    width: 700px !important;
    height: 700px;
    transform: rotate(90deg);
    max-width: 100%;
    pointer-events: none;
}

.img-stroke5 {
    position: absolute;
    top: 118px;
    left: -15px;
    width: 430px;
    height: 100px;
    z-index: -1;
    pointer-events: none;
}

.img-stroke6 {
    width: 300px;
    height: 100px;
    pointer-events: none;
    position: absolute;
    top: -50px;
    left: 115px;
    z-index: -1;
}

.img-stroke7 {
    width: 260px;
    height: 100px;
    pointer-events: none;
    position: absolute;
    top: 34px;
    right: -15px;
    z-index: -1;
}

/* End of Stroke Animation */

.primary-user-card {
    position: relative;
    padding: 35px;
    border-radius: 30px;
    background: var(--mx-blue);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 311px;

    h2 {
        color: var(--white);

        b {
            color: var(--mx-yellow);
        }
    }

    &::before {
        content: "";
        border-radius: 30px;
        background: linear-gradient(0deg, var(--mx-blue) -3.62%, rgba(7, 75, 182, 0.00) 50.07%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .img-dv {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;

        img {
            object-fit: cover;
            max-height: 400px;
            width: 100%;
            border-radius: 0 0 30px 0;
        }
    }

    .text-dv {
        position: relative;
        z-index: 2;
    }
}

.primary-image-card {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;

    &::before {
        content: "";
        border-radius: 30px;
        background: linear-gradient(0deg, var(--mx-blue) -3.62%, rgba(7, 75, 182, 0.00) 50.07%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    h3 {
        color: var(--white);
    }

    .img-dv {
        display: flex;
        flex-wrap: wrap;
        border-radius: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .text-dv {
        position: relative;
        z-index: 2;
        display: grid;

        p {
            color: var(--white);
        }
    }

    .desc-dv {
        max-width: 70%;
    }

    .primary-image-link {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 35px;
        width: 100%;
        height: 600px;
        overflow: hidden;

        .desc-dv {
            display: none;
        }
    }
}

.partnering-section {
    padding: 70px 0;
    position: relative;
    overflow: hidden;

}

.partnering-inner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    width: 100%;
    gap: 35px;

    .content-dv {
        max-width: 454px;
        position: relative;
    }
}

.partnering-info-dv {
    display: grid;
    align-items: flex-start;
    align-content: flex-start;
    gap: 60px 35px;
    grid-template-columns: 1fr 1fr;
}

.news-section {
    position: relative;
}

.news-insights-parent {
    position: relative;
    padding: 100px 0;
    overflow: hidden;
}

.news-blue-home-root {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 35px;
}

.news-inner {
    display: grid;
    row-gap: 50px;
    position: relative;

    .content-dv {
        position: relative;

        h2 {
            margin-bottom: 15px;
        }
    }
}

.news-blue-root {
    position: relative;
}

.news-blue-card {
    position: relative;
    --heightCard: 100%;

    .news-blue-link-card {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        color: var(--white);
        background: var(--mx-blue);
        overflow: hidden;
    }

    .img-dv {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: var(--heightCard);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text-dv {
        padding: 20px 35px;

        p.fs16 {
            color: var(--mx-yellow);
        }

        h3 {
            line-height: 47px;
            margin-block: 10px;
        }
    }

    &.full-news-card {
        --heightCard: 500px;
        grid-row: span 2;
    }

    &.half-news-card {
        .news-blue-link-card {
            align-items: center;
        }

        .img-dv {
            width: 192px;
        }

        .text-dv {
            padding: 20px 35px;
            flex: calc(100% - 192px);
        }
    }
}

.stories-section {
    padding: 70px 0 70px;
    background-color: var(--mx-grey);
    position: relative;
    overflow: hidden;

    .container-fluid {
        max-width: 100%;
    }
}

.stories-inner {
    display: grid;
    grid-template-columns: calc(25% - 17.5px) calc(75% - 17.5px);
    column-gap: 35px;
    margin-left: calc((100% - 1780px) / 2);

    .content-dv {
        position: relative;
        margin-top: 89px;

        h2 {
            margin-bottom: 25px;
        }

        h2,
        p {
            position: relative;
            z-index: 2;
        }

        .img-stroke7 {
            z-index: 1;
        }
    }

    .btn-dv {
        margin-top: -55px;
        position: relative;
    }
}

.card-slider-root {
    position: relative;
    width: calc(100% + 70px);

    .swiper {
        padding-top: 89px;
    }
}

.navigation-dv {
    position: absolute;
    top: 0;
    right: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.swiper-btn-arrow {
    width: 54px;
    height: 54px;
    background: var(--mx-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    svg {
        path {
            transition: all 0.3s ease-in-out;
        }
    }

    &:hover {
        border-color: var(--mx-blue);
        background: var(--mx-yellow);

        svg {
            path {
                fill: var(--mx-blue);
            }
        }
    }
}

.stories-card {
    display: grid;
    padding: 35px;
    row-gap: 25px;
    border-radius: 30px;
    background: var(--white);

    h3 {
        font-weight: 400;
    }

    .user-row-dv {
        display: grid;
        grid-template-columns: 90px calc(100% - 125px);
        gap: 30px;
        align-items: center;
    }

    .quotes-dv {
        display: flex;
        flex-wrap: wrap;
    }
}

.update-section {
    padding: 70px 0;

    .swiper-slide {
        border-radius: 30px;
        overflow: hidden;
    }

    .content-sec {
        background: var(--mx-blue);
        position: absolute;
        bottom: 0;
        padding: 10px 28px;
        display: flex;
        align-items: center;

        h3 {
            color: var(--white)
        }
    }

    .swiper-pagination {
        position: relative;
        margin-top: 35px;

        .swiper-pagination-bullet {
            border-radius: 10px;
            background: rgba(33, 32, 33, 0.50);
            min-width: 91px;
            height: 7px;
            position: relative;
            overflow: hidden;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                &::before {
                    content: "";
                    background-color: var(--mx-yellow);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    animation: fill 5s;
                    border-radius: 10px;
                }
            }

        }
    }
}