.banner-section {
    position: relative;
    overflow: hidden;
    padding-top: 100px;

    .container-fluid {
        max-width: 100%;
        --gutter70: 0;
    }

    @media (max-width: 991px) {
        padding-top: 80px;
    }
}

.banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gutter);
    min-height: calc(100dvh - 100px);
    padding-left: var(--pl70);

    .banner-image {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        flex: 0 0 50%;
        align-items: center;
        height: calc(100dvh - 100px);

        picture {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width:991px) {
            position: relative;

            .text-dv {
                position: absolute;
                bottom: 0;
                padding: 30px 20px;
                height: 80%;
                align-content: flex-end;
                background: linear-gradient(5deg, #074BB6 -1.99%, rgba(7, 75, 182, 0.00) 43.43%);

                p {
                    color: var(--white);
                }
            }
        }
    }

    .banner-content {
        display: grid;
        gap: var(--gutter30);
        flex: 0 0 50%;
        max-width: 520px;
        width: 100%;
        padding: 60px 0;
        // margin-left: calc((100% - 1920px) / 2);

        @media (min-width: 2000px) {
            margin-left: calc((100% - 1780px) / 2);
            width: 100%;
        }

        // @media (max-width: 1700px) {
        //     margin-left: calc((100% - 1390px) / 2);
        //     max-width: 552px;
        // }

        // @media (max-width: 1550px) {
        //     margin-left: calc((100% - 1190px) / 2);
        // }

        @media (max-width: 1200px) {
            margin-left: 0;
        }

        @media (max-width: 991px) {
            width: 100%;
            max-width: 100%;
            padding: 30px 20px 10px;
        }

        h1 {
            position: relative;

            .img-stroke1 {
                position: absolute;
                top: 59px;
                right: 54px;
                width: 180px;
                height: 84px;
                pointer-events: none;
                z-index: -1;
                object-fit: contain;
                transform: rotate(-153.591deg);

                @media (max-width: 1200px) {
                    top: 30px;
                    left: 0;
                    right: auto;
                    width: 140px;
                    position: relative;
                    margin-top: -60px;
                }

                @media (max-width: 991px) {
                    position: absolute;
                    left: 150px;
                    top: 130px;
                    transform: rotate(-20deg);
                }

                @media (max-width: 567px) {
                    bottom: 0;
                    top: auto;
                }
            }

            strong {
                @media (max-width: 991px) {
                    display: block;
                }

                @media (max-width: 567px) {
                    max-width: 120px;
                }
            }
        }

        .text-dv {
            max-width: 470px;
        }
    }

    @media (min-width: 2000px) {
        --pl70: 0;
    }

    @media (max-width: 1700px) {
        --pl70: 50px;
    }

    @media (max-width: 1200px) {
        --pl70: 20px;
    }

    @media (max-width: 991px) {
        flex-direction: column;
        --pl70: 0;
    }
}

.phygital-section {
    padding: var(--p70) 0;
    background-color: var(--mx-grey);
    position: relative;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.phygital-inner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: var(--gutter);

    .content-dv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 490px;
        position: relative;

        @media only screen and (max-width: 768px) {
            max-width: 100%;
        }

        h2,
        p,
        .desc-global {
            position: relative;
            z-index: 2;
        }

        .img-stroke-new1 {
            z-index: 1;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 100%;
    }
}

.card-lst {
    display: grid;
    gap: var(--gutter);

    @media (max-width: 991px) {
        --gutter: 20px;
    }
}

.card {
    padding: 20px 30px;
    background-color: var(--white);
    border-radius: 30px;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: calc(100% - 140px) 120px;
    gap: 20px;

    h4 {
        margin-bottom: 10px;

        @media (max-width:991px) {
            margin-bottom: 5px;
        }
    }

    @media (max-width:1700px) {
        grid-template-columns: calc(100% - 150px) 120px;
        gap: 30px;
    }

    @media (max-width:991px) {
        padding: 20px;
        border-radius: 20px;
        gap: 8px;
        grid-template-columns: calc(100% - 92px) 84px;
    }
}

.phygital-right-dv {
    position: sticky;
    top: 120px;
    height: calc(100dvh - 120px);
    display: flex;
    align-items: center;
    padding: 0 0 78px;

    .img-stroke2 {
        position: absolute;
        bottom: -30px;
        right: -70px;
        z-index: -1;
        overflow: hidden;
        width: 200px;

        @media (max-width: 1700px) {
            right: -50px;
        }

        @media (max-width: 1200px) {
            right: -20px;
        }
    }

    .stroke {
        width: 270px;
        height: 270px;
        animation: rotateInfinitely 10s linear infinite;

        @media (max-width: 1200px) {
            width: 160px;
            height: 160px;
        }
    }

    @keyframes rotateInfinitely {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @media (max-width:991px) {
        position: relative;
        top: auto;
        height: auto;
        padding: 0;
    }
}

.video-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background: var(--mx-black);
    border-radius: 20px;
    overflow: hidden;

    @media only screen and (max-width: 767px) {
        display: none;
    }

    .btn-video-dv {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    &:hover {
        .btn-video-dv {
            opacity: 1;
        }
    }

    .video-player {
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
    }

    &.video-group-mobile {
        display: none;

        @media only screen and (max-width: 767px) {
            display: block;
            margin-bottom: var(--gutter);
        }
    }
}

.btn-video-dv {
    .btn-video {
        .play-svg {
            display: none;
        }

        .pause-svg {
            display: block;
        }

        &.pause {
            .play-svg {
                display: block;
            }

            .pause-svg {
                display: none;
            }
        }
    }
}

.blue-block-section {
    padding: var(--p70) 0;
    background-color: var(--mx-blue);
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .container-fluid {
        max-width: var(--max-wblue);
        margin: 0 auto;
    }

    .img-dv {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        picture {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        img {
            object-fit: contain;
            object-position: center bottom;
        }
    }

    .content-dv {
        width: 100%;

        h2 {
            color: var(--white);
            margin-bottom: 25px;

            b,
            strong {
                color: var(--mx-yellow);
            }

            @media (max-width: 1200px) {
                margin-bottom: 15px;
            }
        }

        p {
            color: var(--white);
        }
    }

    .app-icons-list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gutter);

        @media (max-width: 460px) {
            flex-wrap: nowrap;
        }

        a {
            display: flex;
            flex-wrap: wrap;

        }

        img {
            max-height: 60px;
            object-fit: contain;

            @media (max-width: 1200px) {
                max-height: 48px;
            }

            @media (max-width: 991px) {
                max-height: 38px;
            }

            @media (max-width: 460px) {
                max-height: inherit;
            }
        }

        @media (max-width: 767px) {
            gap: 10px;
        }
    }

    .desc-dv {
        margin-bottom: var(--mb35);
    }

    &.blue-fre-section {
        .content-dv {
            max-width: 680px;
        }
    }

    &.blue-device-section {
        padding: 0;
        margin-top: 0;

        .content-dv {
            padding: 100px 0 50px;

            @media (max-width: 1221px) {
                padding: 50px 0;
            }

            @media (max-width: 767px) {
                padding: var(--p70) 0 var(--gutter);
            }


        }

        .desc-dv {
            max-width: 862px;
        }

        .img-dv {
            // display: flex;
            // flex-wrap: wrap;
            // align-items: flex-end;
            // width: 80%;
            // height: calc(100% - 72px);
            // position: relative;
            // top: -208px;
            // margin-bottom: -119px;

            // @media (max-width: 1600px) {
            //     top: -208px;
            // }
            // @media (max-width: 1520px) {
            //     top:-207px;
            // }
            // @media (max-width: 1366px) {
            //     top: -154px;
            // }

            //  @media (max-width: 1200px) {
            //     top: -243px
            // }

            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            width: 400px;
            height: calc(100% - 72px);
            position: relative;
            margin-top: -109px;

            @media (max-width: 991px) {
                width: 330px;
            }

            @media (max-width: 767px) {

                margin-top: 0;
            }

            picture {
                @media (max-width: 991px) {
                    position: absolute;
                    bottom: 0;
                    height: calc(100% + 80px);
                }

                @media (max-width: 767px) {
                    position: relative;
                    height: auto;
                    justify-content: center;
                    height: 100%;
                }
            }



            @media (max-width: 991px) {
                height: 100%;

                img {
                    height: 100%;
                }
            }

            @media (max-width: 767px) {
                order: 1;
                text-align: center;
                width: 100%;
            }

            img {
                @media (max-width: 767px) {
                    width: 300px;
                }
            }
        }



        .blue-block-inner {
            @media (max-width: 991px) {
                align-items: flex-end;
                grid-template-columns: 2fr 6fr;
            }

            @media (max-width: 767px) {
                align-items: center;
                grid-template-columns: 1fr;
            }
        }
    }

    &.blue-gsn-section {
        .img-dv {
            picture {
                display: flex;
            }

            img {
                object-fit: contain;
            }
        }

        .desc-dv {
            max-width: 862px;
        }

        .content-dv {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .btn-dv {
            margin-top: auto;
        }
    }

    &.blue-apply-section {
        padding: var(--p70) 0;

        @media (max-width: 767px) {
            padding: 30px 0;
        }

        .content-dv {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .btn-dv {
            margin-top: auto;
        }

        .img-dv {
            justify-content: center;
        }

        picture {
            max-width: 360px;
            display: flex;
        }
    }

    .btn-dv {
        &:hover {
            background: #1D3568;
            border-color: #1D3568;

            .btn {
                color: var(--white);
            }

            .mas {
                color: var(--white);
            }
        }

        .btn {
            @media only screen and (max-width: 420px) {
                // line-height: 1.2;
            }
        }

    }
}

.phygital-section+.blue-block-section {

    .blue-block-inner {
        align-items: flex-start;
    }

    .img-dv img {
        max-width: 500px;

        @media only screen and (max-width: 1500px) {
            max-width: 380px;
        }

        @media only screen and (max-width: 991px) {
            max-width: 320px;
        }

        @media only screen and (max-width: 460px) {
            max-width: 100%;
        }
    }

    .container-fluid {
        --max-wblue: 1410px
    }
}

.blue-block-inner {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 5fr;
    gap: var(--gutter);

    @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

.for-rc-section {
    padding: 100px 0 120px;
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: 767px) {
        padding: var(--p70) 0;
    }

    .container-fluid {
        display: grid;
        row-gap: 80px;
    }
}

.for-rc-inner {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: auto auto;
    gap: var(--gutter);
    position: relative;

    @media only screen and (max-width:1024px) {
        height: 610px;
    }

    @media only screen and (max-width: 567px) {
        grid-template-columns: 1fr;
    }

    &.for-retailers-inner {
        @media only screen and (min-width: 568px) {
            .item1 {
                grid-column: 1;
                grid-row: 1;

            }

            .item2 {
                grid-column: 2 / span 2;
                grid-row: 1;
            }

            .item3 {
                grid-column: 1;
                grid-row: 2;
            }

            .item4 {
                grid-column: 2;
                grid-row: 2;
            }

            .item5 {
                grid-column: 3;
                grid-row: 2;
            }
        }

        @media (min-width: 568px) and (min-width: 991px) {

        }
    }

    &.for-consumers-inner {
        @media only screen and (min-width: 568px) {
            .item1 {
                grid-column: 3;
                grid-row: 1;
            }

            .item2 {
                grid-column: 1 / span 2;
                grid-row: 1;
            }

            .item3 {
                grid-column: 1;
                grid-row: 2;
            }

            .item4 {
                grid-column: 2;
                grid-row: 2;
            }

            .item5 {
                grid-column: 3;
                grid-row: 2;
            }
        }
    }

    .stretch-height {
        top: -90px;
        height: calc(100% + 90px);

        @media (max-width: 1200px) {
            top: -140px;
            height: calc(100% + 140px);
        }

        @media only screen and (max-width: 1024px) {
            top: -78px;
            height: calc(100% + 78px);
        }

        @media only screen and (max-width: 991px) {
            top: -118px;
            height: calc(100% + 118px);
        }

        @media only screen and (max-width: 567px) {
            top: 0;
            height: 100%;
        }

        .primary-image-link {
            height: 100%;
        }


    }

    &.for-retailers-inner,
    &.for-consumers-inner {
        .primary-image-card {
            .text-dv {
                transform: none;
            }

            .desc-dv {
                display: none;
            }
        }
    }
}

/* Stroke Animation */

.img-stroke3 {
    position: absolute;
    top: -270px;
    right: -120px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    pointer-events: none;
}

.img-stroke3_2 {
    position: absolute;
    bottom: -530px;
    left: -300px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    transform: rotate(90deg);
    pointer-events: none;
}

.img-stroke3_3 {
    position: absolute;
    bottom: -515px;
    right: -120px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    pointer-events: none;
}

.img-stroke3_4 {
    position: absolute;
    top: -220px;
    right: -85px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    pointer-events: none;

    @media only screen and (max-width: 567px) {
        top: -50px;
        right: -50px;
        width: 200px !important;
        height: 200px;
    }
}

.img-stroke3_5 {
    position: absolute;
    top: -360px;
    right: -85px;
    width: 600px !important;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    transform: rotate(-28.917deg);
    pointer-events: none;
}

.img-stroke3_6 {
    position: absolute;
    bottom: -360px;
    right: -85px;
    width: 600px;
    height: 600px;
    max-width: 100%;
    z-index: -1;
    pointer-events: none;
}


.img-stroke4 {
    position: absolute;
    right: -125px;
    bottom: -300px;
    width: 700px;
    height: 700px;
    transform: rotate(90deg);
    max-width: 100%;
    pointer-events: none;
}

.img-stroke5 {
    position: absolute;
    top: 88px;
    left: -15px;
    width: 370px;
    height: 100px;
    z-index: -1;
    pointer-events: none;

    @media (max-width:1200px) {
        top: 24px;
        left: 0;
        width: 270px;
        height: 84px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


.img-stroke6 {
    width: 300px;
    height: 100px;
    pointer-events: none;
    position: absolute;
    top: -50px;
    left: 115px;
    z-index: -1;

    @media (max-width: 1700px) {
        width: 240px;
        height: 100px;
        top: -45px;
        left: 90px;
    }
}

.img-stroke7 {
    width: 200px;
    height: 60px;
    pointer-events: none;
    position: absolute;
    top: 33px;
    right: 95px;
    z-index: -1;

    @media (max-width: 1700px) {
        width: 200px;
        height: 70px;
        top: 28px;
        right: -30px;
    }

    @media (max-width: 1200px) {}
}

.img-stroke8 {
    position: absolute;
    top: -33px;
    left: -55px;
    width: 270px;
    height: 100px;
    z-index: -1;
    pointer-events: none;

    @media (max-width: 1024px) {
        top: -2vh;
        left: -25px;
        width: 156px;
        height: auto;
    }

    @media (max-width: 567px) {
        top: -2vh;
        left: -6vw;
        width: 156px;
        height: auto;
    }
}

.img-stroke-new1 {
    width: 210px;
    height: 120px;
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: -35px;
    z-index: -1;

    @media only screen and (max-width: 1320px) {
        top: 115px;
    }

    @media only screen and (max-width: 1200px) {
        width: 160px;
        height: 110px;
        top: 95px;
        left: -25px;
    }

    @media only screen and (max-width: 1024px) {
        top: 35px;
    }

    @media only screen and (max-width: 991px) {
        width: 140px;
        top: 30px;
        left: -20px;
    }

    @media only screen and (max-width: 768px) {
        top: 0px;
    }

    @media only screen and (max-width: 567px) {
        top: 30px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.img-stroke-new2 {
    width: 290px;
    height: 110px;
    pointer-events: none;
    position: absolute;
    top: 45px;
    left: 510px;
    z-index: 0;
    transform: rotate(28.598deg);

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* End of Stroke Animation */

.primary-user-card {
    position: relative;
    padding: var(--p35);
    border-radius: 30px;
    background: var(--mx-blue);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 250px;

    @media (max-width: 1700px) {
        height: 260px;
    }

    @media (max-width:1200px) {
        border-radius: 20px;
    }

    @media (min-width:768px) and (max-width:1200px) {
        padding: 10px;
        height: 220px;
    }

    @media only screen and (max-width: 991px) {
        height: 180px;
    }
    @media only screen and (max-width: 767px) {
        height: auto;
    }

    h2 {
        color: var(--white);

        @media only screen and (max-width: 1024px) {
            line-height: 1.2;
            font-size: 35px;
        }

        b,
        strong {
            color: var(--mx-yellow);
        }
    }

    &::before {
        content: "";
        border-radius: 30px;
        background: linear-gradient(0deg, var(--mx-blue) -3.62%, rgba(7, 75, 182, 0.00) 50.07%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @media (max-width:1200px) {
            border-radius: 20px;
        }
    }

    .img-dv {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;

        img {
            object-fit: contain;
            max-height: 300px;
            width: 100%;
            border-radius: 0 0 30px 0;
            object-position: bottom right;

            @media (max-width: 1700px) {
                max-height: 320px;
            }

            @media (max-width:1200px) {
                max-height: 280px;
            }

            @media (max-width:991px) {
                max-height: 220px;
            }
        }
    }

    .text-dv {
        position: relative;
        z-index: 2;
    }


}

.primary-image-card {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --oneBI: -3.62%;
    --twoBI: 50.07%;
    position: relative;

    &::before {
        content: "";
        border-radius: 30px;
        background: linear-gradient(0deg, var(--mx-blue) var(--oneBI), rgba(7, 75, 182, 0.00) var(--twoBI));
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s ease-in-out;

        @media only screen and (max-width: 1200px) {
            border-radius: 20px;
        }
    }

    &::after {
        --oneBI: 30%;
        --twoBI: 60%;
        content: "";
        border-radius: 30px;
        background: linear-gradient(0deg, var(--mx-blue) var(--oneBI), rgba(7, 75, 182, 0.00) var(--twoBI));
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        opacity: 0;

        @media only screen and (max-width: 1200px) {
            border-radius: 20px;
        }
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    h3 {
        color: var(--white);

        br {
            @media only screen and (max-width: 991px) {
                display: none;
            }
        }

        @media (min-width:768px) and (max-width:991px) {
            --heading3: 16px;
            --headingLH3: 24px;
        }
    }

    .img-dv {
        display: flex;
        flex-wrap: wrap;
        border-radius: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media only screen and (max-width: 1200px) {
            border-radius: 20px;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .text-dv {
        position: relative;
        z-index: 2;
        display: grid;
        // transform: translateY(20%);
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);

        p {
            color: var(--white);
        }
    }

    .desc-dv {
        max-width: 70%;
        opacity: 0;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        display: none;
    }

    .primary-image-link {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: var(--p35);
        width: 100%;
        height: 350px;
        overflow: hidden;

        // .desc-dv {
        //     display: none;
        // }

        @media (max-width: 1200px) {
            height: 100%;
            padding: 10px;
            min-height: 250px;
        }

        @media (max-width: 767px) {
            height: 250px;
            padding: 20px;
        }

        @media (max-width: 567px) {
            height: 450px;
        }
    }

    &:hover {
        .text-dv {
            transform: translateY(0%);
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        }

        .desc-dv {
            opacity: 1;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

.partnering-section {
    padding: var(--p70) 0;
    position: relative;
    overflow: hidden;

    .img-stroke4 {
        @media only screen and (max-width: 567px) {
            position: absolute;
            right: -40px;
            bottom: 250px;
            width: 200px;
            height: 200px;
        }
    }
}

.partnering-inner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    width: 100%;
    gap: var(--gutter);

    .content-dv {
        max-width: 375px;
        position: relative;

        @media (max-width: 991px) {
            max-width: 100%;
        }
    }

    @media (max-width: 991px) {
        grid-template-columns: 100%;
    }

    .desc-global {
        max-width: 330px;

        @media (max-width: 991px) {
            max-width: 100%;
        }
    }
}

.partnering-info-dv {
    display: grid;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px 25px;
    grid-template-columns: 1fr 1fr;

    // @media (max-width: 1700px) {
    //     gap: 30px 35px;
    // }

    @media (max-width: 1200px) {
        gap: 15px 25px;
    }

    @media (max-width: 567px) {
        grid-template-columns: 1fr;
    }
}

.news-section {
    position: relative;
    padding-bottom: var(--p70);
}

.news-insights-parent {
    position: relative;
    padding: 0;
    overflow: hidden;

    @media (max-width: 767px) {
        padding: 0;
    }
}

.for-rc-desktop {
    @media (max-width: 767px) {
        display: none;
    }
}

.for-rc-mobile {
    display: none;
    padding: var(--p70) 0;
    position: relative;

    @media (max-width: 767px) {
        display: block;
    }

    .img-stroke3-r-mobile {
        position: absolute;
        top: -70px;
        left: 0;
        width: 140px;
        height: 130px;
        max-width: 100%;
        z-index: -1;
        pointer-events: none;
        transform: rotate(95deg);
    }

    .swiper-scrollbar {
        position: relative;
        margin-top: 20px;
        top: 0;
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        height: 7px;
        background: var(--mx-grey);
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;

        .swiper-scrollbar-drag {
            background: var(--mx-yellow)
        }
    }

    .retailers-mobile {
        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }

    .primary-user-card {
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    .consumer-mobile {
        margin-top: 40px;
        position: relative;

        @media (max-width: 767px) {
            margin-top: 80px;
        }

        .img-stroke3-c-mobile {
            position: absolute;
            top: -60px;
            left: -10px;
            width: 140px;
            height: 130px;
            max-width: 100%;
            z-index: -1;
            pointer-events: none;
            transform: rotate(95deg);
        }
    }
}


.news-blue-home-root {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: var(--gutter);

    @media (max-width: 1700px) {
        grid-template-columns: calc(60% - var(--gutter)/2) calc(40% - var(--gutter)/2);
    }

    @media (max-width: 1200px) {
        grid-template-columns: calc(50% - var(--gutter)/2) calc(50% - var(--gutter)/2);
    }

    @media (max-width: 767px) {
        grid-template-columns: 100%;
    }
}

.news-inner {
    display: grid;
    row-gap: 30px;
    position: relative;

    .content-dv {
        position: relative;

        h2 {
            margin-bottom: 15px;
        }
    }

    @media (max-width: 1700px) {
        row-gap: 35px;
    }
}

.news-blue-root {
    position: relative;
    z-index: 2;
}

.news-blue-card {
    position: relative;
    --heightCard: 100%;

    .news-blue-link-card {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        color: var(--white);
        background: var(--mx-blue);
        overflow: hidden;

        @media only screen and (max-width: 991px) {
            border-radius: 20px;
        }
    }

    .img-dv {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: var(--heightCard);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text-dv {
        padding: 20px var(--p35);

        p.fs16 {
            color: var(--mx-yellow);
        }

        h3 {
            line-height: var(--headingLH3_2);
            margin-block: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;

            @media only screen and (max-width: 991px) {
                margin-block: 5px;
            }
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    &.full-news-card {
        --heightCard: 370px;
        grid-row: span 2;

        @media only screen and (max-width: 991px) {
            --heightCard: 220px;
        }
    }

    &.half-news-card {
        .news-blue-link-card {
            align-items: center;

            @media only screen and (max-width: 767px) {
                flex-direction: column;
                flex-wrap: inherit;
            }
        }

        .img-dv {
            width: 150px;

            @media only screen and (max-width: 767px) {
                width: 100%;
            }
        }

        .text-dv {
            padding: 20px var(--p35);
            flex: calc(100% - 150px);

            @media only screen and (max-width: 767px) {
                flex: auto;
            }
        }
    }
}

.stories-section {
    padding: var(--p70) 0;
    background-color: var(--mx-grey);
    position: relative;
    overflow: hidden;

    .container-fluid {
        max-width: 100%;
    }
}

.stories-inner {
    display: grid;
    grid-template-columns: calc(30% - var(--gutter)/2) calc(70% - var(--gutter)/2);
    column-gap: var(--gutter);

    @media only screen and (max-width:991px) {
        grid-template-columns: calc(35% - var(--gutter)/2) calc(65% - var(--gutter)/2);
    }

    @media only screen and (max-width:567px) {
        grid-template-columns: 100%;
    }

    .content-dv {
        position: relative;
        margin-top: 89px;
        max-width: 425px;

        h2 {
            margin-bottom: 25px;
        }

        h2,
        p {
            position: relative;
            z-index: 2;
        }

        .img-stroke7 {
            z-index: 1;
            left: 135px;
            right: auto;

            @media (max-width: 1200px) {
                left: 88px;
                top: 20px;
                width: 150px;
            }
        }

        @media (max-width: 1200px) {
            margin-top: 69px;
        }

        @media (max-width: 567px) {
            margin-top: 0;
        }
    }

    .btn-dv {
        margin-top: -55px;
        position: relative;
    }

    @media (min-width: 2000px) {
        grid-template-columns: calc(20% - var(--gutter)/2) calc(80% - var(--gutter)/2);
        margin-left: calc((100% - 1780px) / 2);
        width: auto;
    }

    @media (max-width: 1700px) {
        margin-left: calc((100% - 100%) / 2);
    }

    @media (max-width: 1200px) {
        margin-left: 0;
    }
}

.card-slider-root {
    position: relative;
    width: calc(100% + 70px);

    @media (max-width: 567px) {
        width: 100%;
    }

    .swiper {
        padding-top: 89px;

        @media (max-width: 1200px) {
            padding-top: 64px;
        }

    }

}

.navigation-dv {
    position: absolute;
    top: 0;
    right: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    @media (max-width: 1200px) {
        gap: 15px;
    }

    @media (max-width: 567px) {
        right: 0;
        gap: 10px;
    }
}

.swiper-btn-arrow {
    width: 54px;
    height: 54px;
    background: var(--mx-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    svg {
        path {
            transition: all 0.3s ease-in-out;
        }
    }

    &:hover {
        border-color: var(--mx-blue);
        background: var(--mx-yellow);

        svg {
            path {
                fill: var(--mx-blue);
            }
        }
    }

    @media (max-width: 1200px) {
        width: 34px;
        height: 34px;
        border-radius: 8px;

        svg {
            width: 8px;
        }
    }
}

.stories-card {
    display: grid;
    padding: var(--p35);
    row-gap: 25px;
    border-radius: 30px;
    background: var(--white);

    h3 {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;

        @media (max-width: 1700px) {
            font-size: 18px;
        }

        @media (max-width: 1200px) {
            font-size: 16px;
            line-height: 27px;
        }
    }

    .user-row-dv {
        display: grid;
        grid-template-columns: 60px calc(100% - 80px);
        gap: var(--gutter30);
        align-items: center;

        .img-user {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
        }
    }

    .quotes-dv {
        display: flex;
        flex-wrap: wrap;
        width: 63px;
    }
}

.update-section {
    padding: var(--p70) 0;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 567px) {
        padding-bottom: 123px;
    }

    h2 {
        position: relative;
    }

    .swiper-slide {
        border-radius: 30px;
        overflow-y: hidden;

        .icon {
            transition: 0.3s ease-in-out;
            width: 15px;
        }

        &:hover {
            .icon {
                transform: translateX(10px);
            }
        }

        @media (max-width: 1200px) {
            border-radius: 20px;
        }
    }

    .content-sec {
        background: var(--mx-blue);
        position: absolute;
        bottom: 0;
        padding: 10px 28px;
        display: flex;
        align-items: center;
        gap: 60px;

        @media only screen and (max-width: 1024px) {
            padding: 10px 15px;
        }

        h3 {
            color: var(--white)
        }
    }

    .update-inner {
        display: grid;
        // grid-template-columns: 23% 75%;
        grid-template-columns: calc(23% - var(--gutter)/2) calc(77% - var(--gutter)/2);
        gap: var(--gutter);

        @media only screen and (max-width: 991px) {
            grid-template-columns: calc(30% - var(--gutter)/2) calc(70% - var(--gutter)/2);
        }

        @media only screen and (max-width: 567px) {
            grid-template-columns: 100%
        }

        .content-dv {
            display: flex;
            flex-direction: column;
            position: relative;

            @media only screen and (max-width: 567px) {
                position: static;
            }
        }

        .desc-global {
            @media only screen and (max-width: 567px) {
                margin-bottom: 0;
            }
        }

        .btn-dv {
            position: absolute;
            bottom: 28px;
            left: 0;

            @media only screen and (max-width: 567px) {
                width: calc(100% - var(--gutter70));
                margin: 0 auto;
                inset: auto 0 40px;
            }

            a {
                display: block;
            }
        }
    }

    .swiper-scrollbar {
        position: relative;
        margin-top: 20px;
        top: 0;
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        height: 7px;
        background: var(--mx-grey);
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;

        .swiper-scrollbar-drag {
            background: var(--mx-yellow)
        }
    }

    .swiper-pagination {
        position: relative;
        margin-top: 35px;
        top: 0;
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;

        .swiper-pagination-bullet {
            border-radius: 0;
            background: var(--mx-grey);
            width: 100%;
            height: 7px;
            position: relative;
            overflow: hidden;
            opacity: 1;
            margin: 0;

            &.swiper-pagination-bullet-active {
                &::before {
                    content: "";
                    background-color: var(--mx-yellow);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    animation: fill 5s;
                    border-radius: 10px;
                }
            }

        }
    }

    .progress-fill {
        height: 100%;
        background: #007aff;
        width: 0%;
        transition: width 0.3s ease;
    }

    picture {
        img {
            height: 400px;
            object-fit: cover;

            @media only screen and (max-width: 1024px) {
                height: 350px;
            }
        }

    }

    &.insight-section {
        .img-stroke8 {
            top: -16px;
            left: -29px;
            width: 190px;
            height: 100px;

            @media only screen and (max-width: 1024px) {
                top: -15px;
                left: -20px;
                width: 150px;
            }
        }

        .img-stroke3_4 {
            @media only screen and (max-width: 1024px) {
                display: none;
            }
        }

    }

    &.blog-update-section {
        padding-bottom: 120px;

        @media (max-width: 1200px) {
            padding-bottom: var(--p70);

            .update-inner {
                gap: 30px;

                .content-dv {
                    position: relative;
                }
            }
        }

        .img-stroke8 {
            top: 10px;
            left: 80px;
            width: 240px;

            @media (max-width: 1200px) {
                top: 3px;
                left: -20px;
                width: 210px;
            }
        }
    }

    &.similar-blogs-section {
        background-color: var(--mx-grey);

        .img-stroke8 {
            top: -23px;
            left: -45px;
            width: 210px;

            @media (max-width: 1024px) {
                top: -15px;
                left: -25px;
                width: 140px;
            }
        }

        .swiper-scrollbar {
            background-color: var(--white);
        }

        @media (max-width: 1200px) {
            padding-bottom: var(--p70);

            .update-inner {
                gap: 30px;

                .content-dv {
                    position: relative;
                }
            }
        }
    }
}

.swiper-progress-root {
    .swiper-scrollbar {
        position: relative;
        margin-top: 20px;
        top: 0;
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        height: 7px;
        background: var(--mx-grey);
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;

        .swiper-scrollbar-drag {
            background: var(--mx-yellow)
        }
    }

    .swiper-pagination {
        position: relative;
        margin-top: 35px;
        top: 0;
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;

        .swiper-pagination-bullet {
            border-radius: 0;
            background: var(--mx-grey);
            width: 100%;
            height: 7px;
            position: relative;
            overflow: hidden;
            opacity: 1;
            margin: 0;

            &.swiper-pagination-bullet-active {
                &::before {
                    content: "";
                    background-color: var(--mx-yellow);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    animation: fill 5s;
                    border-radius: 10px;
                }
            }

        }
    }

    .progress-fill {
        height: 100%;
        background: #007aff;
        width: 0%;
        transition: width 0.3s ease;
    }
}